<% content_for :variant_explainer do %>
  <h2 class="text-normal">バリデーションについて</h2>
  <div class="text-xs">
    <div>
      <strong>server_validation:</strong>
      <div>フォーム送信<strong>後</strong>にエラーメッセージをサーバから返す。</div>
    </div>
    <div>
      <strong>client_validation:</strong>
      <div>フォーム送信<strong>前</strong>にエラーメッセージをクライアントで表示。フォーム送信<strong>後</strong>もサーバで検証
      </div>
    </div>
  </div>
<% end %>
