<!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
<label
  data-radio-tabs-target="switch"
  class="cursor-pointer whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 has-[:checked]:border-indigo-500 has-[:checked]:text-indigo-600"
>
  <%= radio_button_tag :radio_tab, content_id, current, class: "w-0 opacity-0",
                       data: { action: "change->radio-tabs#select", radio_tabs_target: "tab" }
  %>
  <%= title %>
</label>
