<% set_breadcrumbs [["Sidebar Menu Engineering", component_path(:select)]] %>

<%= render 'template',
           title: "Sidebar Menu 2",
           description: "" do %>

  <div class="flex">
    <%= render 'sidebar' %>
    <div class="flex-grow">
      <%= image_tag "component_images/demo-engineering-team", class: "w-full" %>
    </div>
  </div>
<% end %>
