<% set_breadcrumbs [["Sidebar Menu Engineering", component_path(:sidebar_other_page)]] %>

<%= render 'template',
           title: "Sidebar Engineering",
           description: "" do %>

  <div class="flex border rounded p-2">
    <%= render 'sidebar' %>
    <div class="flex-grow">
      <%= image_tag "component_images/demo-engineering-team.webp", class: "w-full" %>
    </div>
  </div>
<% end %>
