<% set_breadcrumbs [["Sidebar Menu Dashboard", component_path(:sidebar)]] %>

<%= render 'template',
           title: "Sidebar Dashboard",
           description: "" do %>


  <div class="flex rounded border p-2">
    <%= render 'sidebar' %>
    <div class="flex-grow">
      <%= image_tag "component_images/demo-dashboard.webp", class: "w-full" %>
    </div>
  </div>
<% end %>
