---
title: Anecdotes on Hotwire
layout: body
hide_top_button: true
hide_title: true
---
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <p class="text-base font-semibold leading-7 text-orange-600">
        Hotwire よもやま話
      </p>
      <h2 class="mt-2 text-4xl font-light text-gray-900 sm:text-6xl">
        Anecdotes on Hotwire
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        本サイトは、Hotwireについて思ったことをあれこれ綴ったサイトです。
      </p>
      <%= link_to "コンポーネント一覧", components_path %>

      <% current_page.children.sort_by { _1.data.order.to_i }.each do |section_page| %>
        <h3 class="mt-12 text-2xl font-light text-gray-600">
          <%= link_to section_page.data.title, section_page.request_path, class: "hover:text-orange-300" %>
          <% if Rails.env.development? %>
            <span class="text-xs"><%= section_page.data.order %></span>
          <% end %>
        </h3>
        <%= render 'page_children', page: section_page %>
      <% end %>
    </div>
  </div>
</div>
