---
title: Hotwire Anecdota
layout: landing
hide_back_button: true
hide_title: true
published: true
---
<div class="landing flex flex-col items-center justify-center">
  <div class="mx-auto max-w-xl">
    <p class="text-2xl text-white font-thin">
      <span class="text-3xl">Hotwire</span><span class="text-xl">よもやま話</span>
    </p>
    <h1 class="text-6xl font-thin text-white">Anecdotes on<br><span class="text-8xl">Hotwire</span></h1>
    <p class="text-xl text-white mt-12 font-thin">
      HTML/CSS/JavaScript 本来の良さを引き出す、Hotwire の仕組み、特徴、活用の仕方について考えたこと、感じたこと。
    </p>
    <p class="text-xl text-white mt-2 font-thin">
      「モダンフロントエンド」の複雑さに疲れた人はHotwire を試してみませんか？
    </p>
    <div class="text-center mt-12">
      <a href="/directory" class="inline-block text-white text-xl border rounded px-8 py-2 hover:opacity-80 active:translate-y-0.5">
        Hotwire の記事を見る
      </a>
    </div>
  </div>
</div>
