<% content_for :variant_explainer do %>
  <h2 class="text-normal">サイドパネル実行方法について</h2>
  <div class="text-xs">
    <div>
      <strong>frame:</strong>
      <div>
        Hotwire/Turbo Framesを使って実装したもの。
      </div>
    </div>
    <div>
      <strong>stream:</strong>
      <div>
        Hotwire/Turbo Streamsを使って実装したもの。
      </div>
    </div>
    <div>
      <strong>react:</strong>
      <div>
        Reactを使って実装したもの。
      </div>
    </div>
    <div>
      <strong>jquery:</strong>
      <div>
        jQueryを使って実装したもの。
      </div>
    </div>
    <div>
      <strong>sjr:</strong>
      <div>
        <a class="underline" href="https://signalvnoise.com/posts/3697-server-generated-javascript-responses" target="_blank">Server Generated JavaScript Response</a>を使って実装したもの。
      </div>
    </div>
  </div>
<% end %>
