<% provide :head, javascript_include_tag("application_react_users", "data-turbo-track": "reload") %>
<% set_breadcrumbs [["Users", users_path]] %>

<% content_for :title, "Users" %>

<script id="data" type="application/json">
  <%= {available_variants:, selected_variant: request.variant}.to_json.html_safe %>
</script>

<div id="root"></div>
