<% provide :head, javascript_include_tag("application_react_users", "data-turbo-track": "reload") %>
<% set_breadcrumbs [["Users", users_path]] %>

<% content_for :title, "Users" %>

<div id="root"></div>
