<% set_breadcrumbs_plus_examples_crumb [["Users", users_path]] %>

<% content_for :title, "Users" %>
<%= render 'variant_explainer' %>

<div class="mb-16">
  <h1 class="text-4xl text-center">Users Turbo Streams version</h1>
</div>

<div class="grid grid-cols-2 gap-x-4">
  <div>
    <table id="users" class="min-w-full divide-y divide-gray-300">
      <thead>
      <tr>
        <th>name</th>
        <th>email</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
      <%= render @users %>
      </tbody>
    </table>
  </div>
  <div class="border rounded shadow h-96 p-4" id="user-profile">
  </div>
</div>
