<% provide :head, javascript_include_tag("/javascript/jquery-3.7.1", "data-turbo-track": "reload") %>
<% provide :head, javascript_include_tag("application_jquery", "data-turbo-track": "reload") %>
<% set_breadcrumbs [["Users", users_path]] %>

<% content_for :title, "Users" %>

<div class="mb-16">
  <h1 class="text-4xl text-center">Users</h1>
</div>

<div class="grid grid-cols-2 gap-x-4">
  <table id="users" class="min-w-full divide-y divide-gray-300">
    <thead>
    <tr>
      <th>name</th>
      <th>email</th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
    <%= render @users %>
    </tbody>
  </table>
  <turbo-frame class="border rounded shadow" id="user-profile">
  </turbo-frame>
</div>
