<%# locals: (full_document:) %>
<div class="sticky top-4 relative z-10">
  <div class="group/chapter-list absolute top-0 right-0 max-w-96 border border-orange-300 rounded-md bg-orange-50 shadow data-[chapter-list-shown-value=true]:shadow-xl"
       data-controller="chapter-list"
       data-chapter-list-shown-value="false"
  >
    <button class="w-full flex justify-end cursor-pointer hover:opacity-60"
            data-action="click->chapter-list#toggle">
      <div class="p-2 block text-orange-600 px-3">
        目次
      </div>
    </button>
    <div class="p-4 pt-0 group-data-[chapter-list-shown-value=false]/chapter-list:hidden">
      <%= safe_join extract_toc(full_document) %>
    </div>
  </div>
</div>
