<% content_for :title, "Edit Customer" %>

<div class="max-w-lg mx-auto">
  <div class="mb-16">
    <h1 class="text-4xl text-center">Edit Customer</h1>
  </div>

  <%= render "form", customer: @customer %>
</div>
