<div id="<%= dom_id room_night %>">
  <div>
    <strong>Room:</strong>
    <%= room_night.room_id %>
  </div>

  <div>
    <strong>Booking:</strong>
    <%= room_night.booking_id %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= room_night.date %>
  </div>

</div>
