<% content_for :title, "Editing room night" %>

<h1>Editing room night</h1>

<%= render "form", room_night: @room_night %>

<br>

<div>
  <%= link_to "Show this room night", @room_night %> |
  <%= link_to "Back to room nights", room_nights_path %>
</div>
