<% set_breadcrumbs_plus_examples_crumb [["Reservations", reservations_path],
                                        ["New Reservations", new_reservation_path]] %>

<% content_for :title, "New reservation" %>

<div class="max-w-lg mx-auto">
  <div class="mb-16">
    <h1 class="text-4xl text-center">New reservation</h1>
  </div>
  <div class="actions-row">
    <%= link_to "Back to reservations", reservations_path, class: "btn-outline-primary btn--back" %>
    <div></div>
  </div>

  <div class="mt-8">
    <%= render "form", reservation: @reservation %>
  </div>
</div>
