<% provide :head, javascript_include_tag("application_web_components", "data-turbo-track": "reload", type: "module") %>

<% set_breadcrumbs [["Web Components", web_components_statics_path]] %>

<h1 class="text-5xl">Web Components</h1>

<word-count></word-count>
