<% content_for :title, "Editing bucket" %>

<h1>Editing bucket</h1>

<%= render "form", bucket: @bucket %>

<br>

<div>
  <%= link_to "Show this bucket", @bucket %> |
  <%= link_to "Back to buckets", buckets_path %>
</div>
