<div class="mx-auto min-w-[1028px] lg:max-w-5xl">
  <% set_breadcrumbs_plus_examples_crumb [["Apple Store Server-side", iphone_path]] %>

  <%= render "iphone", iphone: @iphone, catalog: @catalog %>
</div>
