<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<% set_breadcrumbs [["Todos", todos_path]] %>

<% content_for :title, "Todos" %>
<div class="max-w-lg mx-auto">

  <div class="mb-16">
    <h1 class="text-4xl text-center">Todos <%= request.variant %></h1>
  </div>
  <table id="todos" class="w-full border border-gray-400 rounded-lg border-spacing-0 border-separate"
         data-controller="todo">
    <%= render @todos %>
  </table>

  <%= render "new", todo: Todo.new %>
</div>
