<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<% set_breadcrumbs [["Todos", todos_path]] %>

<% content_for :title, "Todos" %>
<% content_for :variant_explainer do %>
  <div class="text-xs">
    <div><strong>mpa:</strong> 「いいね」ボタンをMPAで実装</div>
    <div><strong>streams:</strong> 「いいね」ボタンをTurbo Streamsで実装</div>
    <div><strong>optimistic:</strong> 「いいね」ボタンを楽観的UIで実装</div>
  </div>
<% end %>
<div class="max-w-lg mx-auto">

  <div class="mb-16">
    <h1 class="text-4xl text-center">Todos <%= request.variant %></h1>
  </div>
  <table id="todos" class="w-full border border-gray-400 rounded-lg border-spacing-0 border-separate"
         data-controller="todo">
    <%= render @todos %>
  </table>

  <%= render "new", todo: Todo.new %>
</div>
