<%= turbo_frame_tag "details_#{dom_id(@file_node)}" do %>
  <div class="w-48">
    <h1 class="text-2xl"><%= @file_node.name %></h1>
  </div>
  <div>
    <div class="font-bold text-sm">Created at:</div>
    <div class="pl-1"><%= l @file_node.created_at, format: :short %></div>
  </div>
  <div>
    <div class="font-bold text-sm">Updated at:</div>
    <div class="pl-1"><%= l @file_node.updated_at, format: :short %></div>
  </div>
<% end %>
