<% content_for :title, "Editing file node" %>

<h1>Editing file node</h1>

<%= turbo_frame_tag @file_node do %>
  <%= render "form", file_node: @file_node %>
<% end %>
<br>

<div>
  <%= link_to "Show this file node", @file_node %> |
  <%= link_to "Back to file nodes", file_nodes_path %>
</div>
