@layer components {
    /* closed state */
    .dropdown-native {
        @apply absolute [position-anchor:--user-menu] [top:anchor(bottom)] [left:anchor(left)]
        w-48 origin-top-right rounded-md bg-white
        py-1 shadow-lg ring-1 ring-black/5 focus:outline-none;
        opacity: 0;
        transform: scale(0.95);
        transition:
                opacity 75ms ease-in,
                transform 75ms ease-in,
                display 75ms allow-discrete,
                overlay 75ms allow-discrete;
    }

    /* open state */
    .dropdown-native:popover-open {
        opacity: 1;
        transform: scale(1);
        transition:
                opacity 200ms ease-out,
                transform 200ms ease-out,
                display 200ms allow-discrete,
                overlay 200ms allow-discrete;
    }

    /* enable opening animation from closed values */
    @starting-style {
        .dropdown-native:popover-open {
            opacity: 0;
            transform: translateY(4px) scale(0.95);
        }
    }
}
