@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    *[data-controller="select-menu"] {
        > ul {
            @apply transition duration-200;

            li {
                @apply hover:bg-orange-600 hover:text-white;

                &:hover span:nth-child(2) {
                    @apply text-white;
                }

                &[aria-selected='true'] {
                    span:nth-child(1) {
                        @apply font-semibold;
                    }

                    span:nth-child(2) {
                        @apply visible;
                    }
                }
            }

        }

        button[aria-expanded='false'] + ul {
            @apply opacity-0;
        }

        button[aria-expanded='true'] + ul {
            @apply opacity-100;
        }
    }

    .highlight-on-appear {
        transition: background-color ease-out 1s;

        @starting-style {
            background-color: yellow;
        }
    }

    .field_with_errors input {
        @apply !bg-red-500 !bg-opacity-10 !border-red-500 !border-2
    }

    /* general component classes */
    .btn-primary {
        @apply rounded-md bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600 hover:cursor-pointer
    }

    .btn-primary-muted {
        @apply rounded-md bg-orange-400 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-400 hover:cursor-pointer
    }

    .btn-outline-primary {
        @apply border-orange-100 rounded-md border border-orange-600 bg-white px-3.5 py-2.5 text-sm font-semibold text-orange-600 hover:bg-orange-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600 hover:cursor-pointer
    }

    /* Top Page */
    @keyframes topPageTitle {
        0% {
        }
        50% {
            @apply brightness-200
        }
        100% {
        }
    }

    .hotwire-text {
        animation: topPageTitle 1s ease-in-out 1s;
    }

    /* Markdown */
    .md {
        h2 {
            @apply mt-4 mb-4 pt-4 pb-0 text-2xl border-b border-dotted border-gray-400 font-light text-gray-900 sticky bg-orange-50 top-10 scroll-mt-10 sm:top-10 sm:scroll-mt-10
        }
        h2 > a {
            @apply text-inherit decoration-0 hover:text-orange-600
        }

        h3 {
            @apply font-bold mt-4 py-2 text-lg sticky bg-orange-50 top-[89px] scroll-mt-[89px] sm:top-[89px] sm:scroll-mt-[89px]
        }
        h3 > a {
            @apply text-inherit decoration-0 hover:text-orange-600;
        }

        h4 {
            @apply mt-2 py-2 text-base font-bold text-gray-900
        }

        p {
            @apply text-gray-700 my-3 text-base/7
        }

        code {
            @apply mx-0.5 px-0.5 rounded border bg-gray-200/70 font-mono border-gray-200
        }

        a {
            @apply text-orange-600 hover:text-orange-400 underline
        }

        strong {
            @apply mx-0.5 px-0.5 rounded bg-orange-600/20 font-semibold
        }

        blockquote {
            @apply pl-4 border-l-4 border-gray-200
        }

        img {
            @apply py-4 mx-auto
        }

        .footnotes {
            p {
                @apply !text-sm !text-gray-700
            }
        }

        ul {
            @apply ml-0 my-3 space-y-2 text-base/7
        }

        ul li {
            background: url('/check-circle.svg') no-repeat left top 6px;
            padding: 0px 16px 0px 32px;
            list-style: none;
            margin: 0;
            vertical-align: middle;

            ul {
                @apply my-1
            }

            ul li {
                margin-top: 8px;
                background: url('/check-circle-gray.svg') no-repeat left top 6px;
            }
        }


        ol {
            @apply ml-6 my-2 space-y-2 text-base/7
        }

        ol li {
            /*background: url('check-circle.svg') no-repeat left top 12px;*/
            padding: 0px 16px 0px 4px;
            list-style: decimal outside none;
            margin: 0;
            vertical-align: middle;

            ol {
                @apply my-1
            }
            ol li {
                margin-top: 0 !important;
                list-style: lower-alpha;
                ol li {
                    list-style: lower-roman;
                }
            }
        }
    }
}

