<p style="color: green"><%= notice %></p>

<% content_for :title, "Hotels" %>

<h1>Hotels</h1>

<div id="hotels">
  <% @hotels.each do |hotel| %>
    <%= hotel.name %>
    <p>
      <%= link_to "Show this hotel", hotel, class: "p-1 border-2 rounded bg-orange-200 border-orange-600" %>
    </p>
  <% end %>
</div>

<%= link_to "New hotel", new_hotel_path %>
