<% local_assigns.with_defaults(hide_back_button: false,
                               hide_title: false,
                               back_link: nil,
                               show_data_reset: false) =>
     { hide_back_button:, hide_title:, back_link:, show_data_reset: } %>

<nav class="max-w-3xl mx-auto grid grid-cols-[1fr_auto_1fr] py-1 h-12 items-center">
  <%= render "nav__back_button", back_link:, hide_back_button: %>
  <%= render "nav__title", hide_title: %>
  <%= render "nav__reset_data", show_data_reset: %>
</nav>
