<%# locals: (hide_title:) %>

<% if hide_title %>
  <span class="flex-auto"></span>
<% else %>
  <div class="flex-auto">
    <a href="/" class="inline-block text-2xl font-thin text-black hover:opacity-60 active:translate-y-0.5">
      Anecdotes on
      <span class="text-4xl">Hotwire</span>
    </a>
  </div>
<% end %>
