<% local_assigns.with_defaults(hide_top_button: false, hide_title: false) =>
           { hide_top_button:, hide_title: } %>

<nav class="w-full bg-white flex p-1 items-start mx-4">
  <% if hide_top_button %>
    <span class="w-52 flex-none basis-24"></span>
  <% else %>
    <a href="/" class="flex-none basis-24 text-xl p-1 text-orange-600 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
           stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
      </svg>
      <span>Top</span>
    </a>
  <% end %>

  <% if hide_title %>
    <span class="grow"></span>
  <% else %>
    <div class="text-center grow flex flex-col">
      <a href="/" class="text-xl p-1 font-light text-gray-400 hover:text-orange-300">
        Anecdotes on Hotwire
      </a>
    </div>
  <% end %>
  <div class="basis-24"></div>
</nav>
