<%# locals: (show_data_reset:) %>
<div class="flex flex-row-reverse">
  <% if show_data_reset %>
    <%= button_to "Reset Data", fixtures_path, method: :post,
                  class: "border rounded bg-orange-600 px-1 text-white text-sm" %>
  <% end %>
</div>
