<% if available_variants.present? %>
  <div class="text-center mt-1 my-8" data-controller="variants-selector">
    <%= form_with url: variants_path, scope: :variant,
                  method: :patch,
                  class: "flex flex-row justify-center items-baseline" do |f| %>
      <%= f.label :name, "variantを選択", class: "text-xs font-bold mr-3" %>
      <%= f.select :name, available_variants,
                   { selected: (available_variants & request.variant).first },
                   { class: "w-44 text-sm border border-gray-400 rounded-lg p-1",
                     data: { action: "change->variants-selector#submit" } } %>
    <% end %>
  </div>
<% end %>
