<% provide :head, javascript_include_tag("application_react_splitting", "data-turbo-track": "reload", type: "module") %>
<% set_breadcrumbs [["Splitting second page", react_path(:first)]] %>
<% content_for :title, "Splitting Second page" %>

<div class="container container-lg mx-auto px-4 pt-16">
  <div class="mx-auto min-w-[1028px] lg:max-w-5xl">
    <div id="root" data-page="second"></div>
  </div>
</div>
